<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.morningtel.kidsedu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission> 
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INSTALL_PACKAGES" />
	<uses-permission android:name="android.permission.DELETE_PACKAGES" />
	<uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.CLEAR_APP_USER_DATA" />
	<uses-permission android:name="android.permission.RESTART_PACKAGES"/>     
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" /> 
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> 
	
    <application
        android:name=".KEApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".main.TabMainActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />                   
                <category android:name="android.intent.category.LAUNCHER" />                   
                <category android:name="android.intent.category.HOME" />                   
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>      
        <activity android:name=".SplashActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation" >
            <intent-filter>  
                <action android:name="android.intent.action.VIEW" />  
              	<category android:name="android.intent.category.DEFAULT" />  
              	<category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="data" />    
            </intent-filter>
        </activity>                               
        <activity android:name=".search.SearchActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation" ></activity>                       
        <activity android:name=".BaseActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation" ></activity>               
        <activity android:name=".applist.AppDetailActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation" ></activity>        
        <activity android:name=".applist.AppListActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation" ></activity>        
        <activity android:name=".musiclist.MusicTabsActivity" android:theme="@style/StyledIndicators" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation" />
        <activity android:name=".videolist.VideoTabsActivity" android:theme="@style/StyledIndicators" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation" />
        <activity android:name=".videolist.VideoDetailActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation" />
        <activity android:name=".mediaplayer.PlayerActivity" android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden|navigation" ></activity>
        <activity android:name=".commons.NotificationActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation" ></activity>        
		<service android:name=".service.UpdateService"></service>
		<service android:name=".service.MusicBackgroundService"></service>
		<service android:name=".service.MusicBackgroundServiceForKids"></service>
        <activity android:name=".service.MusicServiceActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation" ></activity>        
        <activity android:name=".account.AccountActivity" android:theme="@style/Theme" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation" ></activity>        
        <activity android:name=".account.AccountMusicActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation" ></activity>        
        <activity android:name=".account.AccountVideoActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation" ></activity>        
        <activity android:name=".account.AccountAppActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation" ></activity>        
        <activity android:name=".account.WebInfoActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation" ></activity>        
        
        <receiver android:name=".receiver.AppReceiver" >     
            <intent-filter>     
                <action android:name="android.intent.action.BOOT_COMPLETED"/>     
                <category android:name="android.intent.category.LAUNCHER" />     
            </intent-filter>     
            <intent-filter>     
            	<action android:name="android.intent.action.PACKAGE_ADDED" />     
            	<action android:name="android.intent.action.PACKAGE_REMOVED" />     
              	<data android:scheme="package" /> <!-- 注意！！ 这句必须要加，否则接收不到BroadCast -->   
            </intent-filter>     
        </receiver>  
        
        <receiver android:name=".receiver.GuardReceiver" android:process=":GuardService">
            <intent-filter android:priority="2147483647">   
	            <action android:name="android.intent.action.USER_PRESENT" />  
	        </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <service android:name=".service.GuardService"></service>
        
        <!-- Don't forgot InitActivity -->
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        
        <!-- yixin -->
        <activity android:name=".yxapi.YX_SendActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation" ></activity>        
        <activity
	        android:name=".yxapi.YXEntryActivity"
	        android:screenOrientation="portrait"
	        android:exported="true"
	        android:excludeFromRecents="true"
	        android:launchMode="singleTop"/>
        <receiver
	        android:name=".yxapi.AppRegister"
	        android:screenOrientation="portrait"
	        android:permission="im.yixin.sdk.permission.YIXIN_SDK_MESSAGE">
            <intent-filter>
                <action android:name="im.yixin.sdk.api.Intent.ACTION_REFRESH_YXAPP"/>
            </intent-filter>
        </receiver>
        
        <!-- weixin -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
        </activity>
        <receiver
            android:name=".wxapi.AppRegister"
            android:permission="com.tencent.mm.plugin.permission.SEND" >
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>
        
        <!-- qq -->
        <!--  辅助Activity  加上方向 防止横竖屏切换listener 丢失-->
        <activity android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name="com.tencent.plus.ImageActivity" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101020681" /><!-- 100380359 100381104 222222 -->
            </intent-filter>
        </activity>
        <activity android:name=".qqapi.QQActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation" ></activity>        
        
        <!-- sinaweibo -->
       	<activity android:name=".sinaweiboapi.WBMainActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|navigation" >
       	    <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
       	</activity>        
        
	</application>

</manifest>
